<section class="hidden xl:block" *ngIf="contentLoaded">
    <div
        class="bg-about-hero-bg bg-cover font-Inter text-xs text-white py-20 flex flex-col justify-center items-center xl:py-32">
        <h1 class="text-xl font-extrabold">{{'AboutUsPage.AboutUsPageBanner.AboutUs' | translate}}</h1>
        <div class="flex">
            <a href="/home" class="cursor-pointer">
                <p>{{'AboutUsPage.AboutUsPageBanner.Home' | translate}}</p>
            </a>
            <p class="mx-2">/</p>
            <a href="/aboutus" class="cursor-pointer">
                <p>{{'AboutUsPage.AboutUsPageBanner.AboutUs' | translate}}</p>
            </a>
        </div>
    </div>
</section>

<section *ngIf="contentLoaded">
    <div class="font-Inter text-xs my-5 text-center hidden xl:block xl:my-10">
        <h1 class="font-bold text-xl ">{{'AboutUsPage.AboutUsPageBanner.AboutUs' | translate}}</h1>

    </div>
    <div class="text-xs font-Inter text-justify xl:flex xl:justify-center xl:items-center xl:text-left content1">
        <div class="justify-center xl:w-[50%] hidden xl:flex ">
            <img src="./assets/images/our-journey-img.png" alt=""
                onerror="this.onerror=null; this.src='./assets/images/broken-img.jpg'">
        </div>
        <div class=" xl:w-[50%] content2 p-4">
            <p class="mb-2" [innerHTML]="'AboutUsPage.AboutUsPageBanner.ParaDesc' | translate"></p>
        </div>
    </div>
</section>

<app-counter-section *ngIf="cardLoaded"></app-counter-section>
<app-why-choose-us *ngIf="cardLoaded"></app-why-choose-us>