<vehicle-search></vehicle-search>
<div class="bg-white">
    <vehicle-featuredlisting [MainHeading]="VehicleMainHeading" [SubHeading]="VehicleSubHeading" [condition]="'w-[80%]  xl:w-[40%]'"></vehicle-featuredlisting>
</div>
<app-properties-typethumbnail id="gk-typethumbnail" [componentName]="'VehicleHome'"></app-properties-typethumbnail>
<app-properties-popularbanner [componentName]="'VehicleHome'"></app-properties-popularbanner>
<!-- <vehicle-explore></vehicle-explore> -->
<div class="bg-white py-4">
    <app-properties-citesthumbnail [componentName]="'VehicleHome'"></app-properties-citesthumbnail>
</div>

<app-app-blogs-thumbnail [componentName]="'vehicleHome'"></app-app-blogs-thumbnail>