<section class="bg-gk-blue">
    <div class="py-4 w-[80%] mx-auto md:py-10 xl:w-[70%] ">

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"CustomerSupportPage.SubHeading1"| translate}}</h3>
        <p class="font-Inter text-xs  mb-3   {{Language}}" [innerHTML]="'CustomerSupportPage.Desc1'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"CustomerSupportPage.SubHeading2"| translate}}</h3>
        <p class="font-Inter text-xs mb-3 {{Language}}" [innerHTML]="'CustomerSupportPage.Desc2'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}"> {{"CustomerSupportPage.SubHeading3"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'CustomerSupportPage.Desc3'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"CustomerSupportPage.SubHeading4"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'CustomerSupportPage.Desc4'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"CustomerSupportPage.SubHeading5"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'CustomerSupportPage.Desc5'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"CustomerSupportPage.SubHeading6"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'CustomerSupportPage.Desc6'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"CustomerSupportPage.SubHeading7"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'CustomerSupportPage.Desc7'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"CustomerSupportPage.SubHeading8"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'CustomerSupportPage.Desc8'| translate"></p>
    </div>
</section>