<hr class="h-[1px] w-[80%] mx-auto bg-[#DBDCDD] mt-10"/>
<section class="">
    <div class="px-5 flex flex-wrap md:px-10 md:pt-10 xl:px-24">
        <div class="font-Inter text-xs flex flex-col items-center w-[50%] my-4 sm:w-[25%]">
            <h1 class="font-bold text-base xl:text-xl text-black">{{propertiesForRent}}</h1>
            <p class="text-[#989898] uppercase">{{'Header.Property' | translate}}</p>
        </div>
        <div class="font-Inter text-xs flex flex-col items-center w-[50%] my-4 sm:w-[25%]">
            <h1 class="font-bold text-base xl:text-xl text-black">{{propertiesForSale}}</h1>
            <p class="text-[#989898] uppercase">{{'Header.PropertySale' | translate}}</p>
        </div>
        <div class="font-Inter text-xs flex flex-col items-center w-[50%] my-4 sm:w-[25%]">
            <h1 class="font-bold text-base xl:text-xl text-black">{{carsForSale}}</h1>
            <p class="text-[#989898] uppercase">{{'Header.Motors' | translate}}</p>
        </div>

        <div class="font-Inter text-xs flex flex-col items-center w-[50%] my-4 sm:w-[25%]">
            <h1 class="font-bold text-base xl:text-xl text-black">{{communityMembers}}</h1>
            <p class="text-[#989898] uppercase">{{'Header.Community' | translate}}</p>
        </div>
    </div>
</section>
<hr class="h-[1px] w-[80%] mx-auto bg-[#DBDCDD] mt-6" />