<section class="bg-gk-blue">
    <div class="py-4 w-[80%] mx-auto md:py-10 xl:w-[70%] ">
        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"PrivacyPage.SubHeading1"| translate}}</h3>
        <p class="font-Inter text-xs  mb-3   {{Language}}" [innerHTML]="'PrivacyPage.Desc1'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"PrivacyPage.SubHeading2"| translate}}</h3>
        <p class="font-Inter text-xs mb-3 {{Language}}" [innerHTML]="'PrivacyPage.Desc2'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}"> {{"PrivacyPage.SubHeading3"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'PrivacyPage.Desc3'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"PrivacyPage.SubHeading4"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'PrivacyPage.Desc4'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"PrivacyPage.SubHeading5"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'PrivacyPage.Desc5'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"PrivacyPage.SubHeading6"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'PrivacyPage.Desc6'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"PrivacyPage.SubHeading7"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'PrivacyPage.Desc7'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"PrivacyPage.SubHeading8"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'PrivacyPage.Desc8'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"PrivacyPage.SubHeading9"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'PrivacyPage.Desc9'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"PrivacyPage.SubHeading10"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'PrivacyPage.Desc10'| translate"></p>

        <h3 class="font-Inter font-bold text-lg capitalize {{Language}}">{{"PrivacyPage.SubHeading11"| translate}}</h3>
        <p class="font-Inter text-xs {{Language}} mb-3" [innerHTML]="'PrivacyPage.Desc11'| translate"></p>
    </div>
</section>