<section class="px-5 md:px-32 xl:mt-24">
    <div>
        <h1 class="my-4 font-FivoSans text-xl text-center">{{"DashboardPage.ChangePassword.ChangePswd" | translate}}
        </h1>
    </div>
    <form #changePassword="ngForm" (ngSubmit)="UserChangePassword(changePassword.value)" autocomplete="off">
        <div class="flex flex-col">
            <div class="font-Inter text-xs font-semibold flex flex-col my-4 relative">
                <input [type]="OldPswType ? 'text' : 'password'"
                    placeholder='{{"DashboardPage.ChangePassword.OldPswd" | translate}}'
                    class="my-2 font-Inter text-xs xl:w-full bg-transparent border-0 border-b border-[#191919]/20 text-[#989898] placeholder:text-[#989898]" ngModel
                    name="oldPassword" required #oldPassword>
                <fa-icon *ngIf="!OldPswType"
                    class="h-5 w-5 absolute right-0 bottom-2 top-4 fill-current text-black/40 cursor-pointer hover:text-black"
                    (click)="toggleoldPassword()" [icon]="faEye">
                </fa-icon>
                <fa-icon *ngIf="OldPswType"
                    class="h-5 w-5 absolute right-0 bottom-2 top-4 fill-current text-black/40 cursor-pointer hover:text-black"
                    [icon]="faEyeSlash" (click)="toggleoldPassword()">
                </fa-icon>
            </div>
            <div class="font-Inter text-xs font-semibold flex flex-col my-4 relative">
                <input [type]="NewPsw1Type ? 'text' : 'password'"
                    placeholder='{{"DashboardPage.ChangePassword.NewPswd" | translate}}'
                    class="my-2 font-Inter text-xs xl:w-full bg-transparent border-0 border-b border-[#191919]/20 text-[#989898] placeholder:text-[#989898]" ngModel
                    name="newPassword" required #newPassword="ngModel"
                    pattern='(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}'>
                <fa-icon *ngIf="!NewPsw1Type"
                    class="h-5 w-5 absolute right-0 bottom-2 top-4 fill-current text-black/40 cursor-pointer hover:text-black"
                    (click)="toggleNew1dPassword()" [icon]="faEye">
                </fa-icon>
                <fa-icon *ngIf="NewPsw1Type"
                    class="h-5 w-5 absolute right-0 bottom-2 top-4 fill-current text-black/40 cursor-pointer hover:text-black"
                    [icon]="faEyeSlash" (click)="toggleNew1dPassword()">
                </fa-icon>
                <div class="text-gk-red"
                    *ngIf="newPassword.touched && (newPassword.value.length <8 || UpperCaseCheck(newPassword.value) == false || LowerCaseCheck(newPassword.value)==false || NumberCheck(newPassword.value) == false)">
                    <p>
                        <fa-icon
                            class="h-5 w-5 fill-current {{newPassword.value.length >=8?'text-green-500':'text-red-600'}}"
                            [icon]="newPassword.value.length >=8? faCheckCircle : faTimesCircle "></fa-icon>
                        {{"DashboardPage.ChangePassword.Mustcharacters" | translate}}
                    </p>
                    <p>
                        <fa-icon
                            class="h-5 w-5 fill-current {{UpperCaseCheck(newPassword.value)?'text-green-500':'text-red-600'}}"
                            [icon]="UpperCaseCheck(newPassword.value)? faCheckCircle : faTimesCircle "></fa-icon>
                        {{"DashboardPage.ChangePassword.MustCapitalCase" | translate}}
                    </p>
                    <p>
                        <fa-icon
                            class="h-5 w-5 fill-current {{LowerCaseCheck(newPassword.value)?'text-green-500':'text-red-600'}}"
                            [icon]="LowerCaseCheck(newPassword.value)? faCheckCircle : faTimesCircle "></fa-icon>
                        {{"DashboardPage.ChangePassword.MustSmallCase" | translate}}
                    </p>
                    <p>
                        <fa-icon
                            class="h-5 w-5 fill-current {{NumberCheck(newPassword.value)?'text-green-500':'text-red-600'}}"
                            [icon]="NumberCheck(newPassword.value)? faCheckCircle : faTimesCircle "></fa-icon>
                        {{"DashboardPage.ChangePassword.Mustnumber" | translate}}
                    </p>
                </div>
            </div>
            <div class="font-Inter text-xs font-semibold flex flex-col my-4 relative">
                <input [type]="NewPsw2Type ? 'text' : 'password'"
                    placeholder='{{"DashboardPage.ChangePassword.ConfrmNewPswd" | translate}}'
                    class="my-2 font-Inter text-xs xl:w-full bg-transparent border-0 border-b border-[#191919]/20 text-[#989898] placeholder:text-[#989898]" ngModel
                    name="confirmNewPassword" required #confirmNewPassword="ngModel"
                    pattern='(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}'>
                <fa-icon *ngIf="!NewPsw2Type"
                    class="h-5 w-5 absolute right-0 bottom-2 top-4 fill-current text-black/40 cursor-pointer hover:text-black"
                    (click)="toggleNew2dPassword()" [icon]="faEye">
                </fa-icon>
                <fa-icon *ngIf="NewPsw2Type"
                    class="h-5 w-5 absolute right-0 bottom-2 top-4 fill-current text-black/40 cursor-pointer hover:text-black"
                    [icon]="faEyeSlash" (click)="toggleNew2dPassword()">
                </fa-icon>
                <div class="text-gk-red"
                    *ngIf="confirmNewPassword.touched && (confirmNewPassword.value.length <8 || UpperCaseCheck(confirmNewPassword.value) == false || LowerCaseCheck(confirmNewPassword.value)==false || NumberCheck(confirmNewPassword.value) == false || newPassword.value !== confirmNewPassword.value)">
                    <p>
                        <fa-icon
                            class="h-5 w-5 fill-current {{confirmNewPassword.value.length >=8?'text-green-500':'text-red-600'}}"
                            [icon]="confirmNewPassword.value.length >=8? faCheckCircle : faTimesCircle "></fa-icon>
                        {{"DashboardPage.ChangePassword.Mustcharacters" | translate}}
                    </p>
                    <p>
                        <fa-icon
                            class="h-5 w-5 fill-current {{UpperCaseCheck(confirmNewPassword.value)?'text-green-500':'text-red-600'}}"
                            [icon]="UpperCaseCheck(confirmNewPassword.value)? faCheckCircle : faTimesCircle "></fa-icon>
                        {{"DashboardPage.ChangePassword.MustCapitalCase" | translate}}
                    </p>
                    <p>
                        <fa-icon
                            class="h-5 w-5 fill-current {{LowerCaseCheck(confirmNewPassword.value)?'text-green-500':'text-red-600'}}"
                            [icon]="LowerCaseCheck(confirmNewPassword.value)? faCheckCircle : faTimesCircle "></fa-icon>
                        {{"DashboardPage.ChangePassword.MustSmallCase" | translate}}
                    </p>
                    <p>
                        <fa-icon
                            class="h-5 w-5 fill-current {{NumberCheck(confirmNewPassword.value)?'text-green-500':'text-red-600'}}"
                            [icon]="NumberCheck(confirmNewPassword.value)? faCheckCircle : faTimesCircle "></fa-icon>
                        {{"DashboardPage.ChangePassword.Mustnumber" | translate}}
                    </p>
                    <p>
                        <fa-icon
                            class="h-5 w-5 fill-current {{newPassword.value == confirmNewPassword.value?'text-green-500':'text-red-600'}}"
                            [icon]="newPassword.value == confirmNewPassword.value? faCheckCircle : faTimesCircle ">
                        </fa-icon>
                        {{"DashboardPage.ChangePassword.ErrPswd" | translate}}
                    </p>
                </div>
            </div>
            <button [disabled]="!changePassword.valid || (newPassword.value !== confirmNewPassword.value)"
                class="bg-gk-red justify-center inline-flex px-4 py-3 my-4 font-Inter w-full rounded-lg text-white transition ease-in-out duration-150 cursor-pointer disabled:opacity-75 disabled:bg-[#4C8EC7]/80 disabled:cursor-not-allowed">
                <svg *ngIf="ChangePswdStatus==false" class="animate-spin -ml-1 mr-2 h-5 w-5 text-white"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                    </circle>
                    <path class="opacity-75" fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                    </path>
                </svg>
                {{"DashboardPage.ChangePassword.ResetPassword" | translate}}
            </button>
        </div>
    </form>
</section>